* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

html {
  background: rgba(24, 24, 36, 1);
}

.header {
  border: 1px solid #FFFFFF;
}

.header-tittle {
  text-align: center;
  font-family: 'Monda';
  font-size: 66px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 20px 0px;
}

.wrapper-input {
  margin: 0 auto;
  text-align: center;
  margin: 40px 0px;
}

.list-wrapper {
  color: #FFFFFF;
  text-align: center;
}